.headerStyle{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 24px;
  color: #fff;
  background-color: #011424;
  .left{

  }
  .right{

  }
}

.contentStyle{
  min-height: calc(100vh - 64px - 71px);
}

.footerStyle{
  text-align: center;
  background-color: #f7f7f7;
  border-top:1px solid #E8E8E8;
}