.containerStyle{
  display: flex;
  min-height: calc(100vh - 65px - 65px);
  color: #000;
  background-color: #fff;
  .left{
    flex: 1;
    background-color: lightpink;
  }
  .right{
    flex: 3;
  }
}